.button {
    background-color: antiquewhite;
    border-radius: 0px;
    width: 27px;
    height: 27px;
    box-shadow: lightgrey;
}

.tabulka {
    margin: 200px auto;
}

.zlta {
    background-color: lightgrey;
}
